.fixedsize_profile {
  height: 700px;
  width: 110%;
  /* background-color: #f5f2eb; */
  margin-left: -5%;
  overflow-x: hidden;
  overflow-y: auto;
}

.btn_profile {
  width: 120px;
  height: 32px;
  background-color: #133d16;
  border: none;
  color: white;
  font-size: 10pt;
  box-shadow: 3px 3px 0px 0px black;
  border-radius: 5px;
  margin-top: 5px;
}

.btn_profile_active {
  width: 120px;
  height: 32px;
  background-color: #133d16;
  color: white;
  border-width: 4px;
  box-shadow: 3px 3px 0px 0px black;
  border-radius: 5px;
  border-width: 2px;
  border-color: lightgreen;
  margin-top: 5px;
}

.btn-modal-profile {
  width: 40px;
  height: 32px;
  background-color: #3c455e;
  border: none;
  color: white;
  font-size: 10pt;
  box-shadow: 3px 3px 0px 0px black;
  border-radius: 5px;
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .fixedsize_profile {
    height: 540px;
    width: 110%;
    margin-left: -14px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .btn_profile {
    width: 62px;
    height: 28px;
    background-color: #133d16;
    border: none;
    color: white;
    font-size: 8pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
  }

  .btn_profile_active {
    width: 62px;
    height: 28px;
    font-size: 8pt;
  }

  .btn-modal-profile {
    width: 40px;
    height: 28px;
    background-color: #3c455e;
    border: none;
    color: white;
    font-size: 8pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
  }
}

@media only screen and (max-device-width: 320px) {
  /* styles for browsers larger than 320px iphone5; */
  div.fixedsize_profile {
    height: 450x;
    width: 110%;
    margin-left: -14px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .btn_profile {
    width: 58px;
    height: 27px;
    font-size: 7pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
  }

  .btn_profile_active {
    width: 60px;
    height: 27px;
    font-size: 7pt;
  }

  .btn-modal-profile {
    width: 28px;
    height: 27px;
    background-color: #3c455e;
    border: none;
    color: white;
    font-size: 7pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
  div.fixedsize_profile {
    margin-top: 5px;
    padding-top: 5px;
    height: 850px;
    width: 100%;
    margin-left: -1px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .btn_profile {
    width: 120px;
    height: 32px;
    background-color: #133d16;
    border: none;
    color: white;
    font-size: 10pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
  }

  .btn_profile_active {
    width: 120px;
    height: 32px;
    font-size: 10pt;
  }

  .btn-modal-profile {
    width: 50px;
    height: 32px;
    background-color: #3c455e;
    border: none;
    color: white;
    font-size: 10pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
  }
}
