div.fixedsize-info-modal {
  height: 450px;
  width: 100%;
  background-color: #1a3c72;
  color: #fffaea;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 450px;
}

div.start-here-msg-info {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.notes-text-info {
  padding-top: 10px;
  font-size: 1em;
}

.modal-header-text-info {
  padding-top: 10px;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}

hr.format {
  color: white;
  background-color: rgba(218, 229, 232, 0.5);
  margin-top: 20px;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (min-width: 960px) {
  .notes-text {
    font-size: .9em;
  }
}

@media only screen and (min-width: 1440px) {
  .notes-text {
    font-size: 1em;
  }
}
@media only screen and (min-width: 2000px) {
  .notes-text {
    font-size: 1em;
  }
}

@media only screen and (max-device-width: 375px) {
  .notes-text-info {
    padding-top: 10px;
    font-size: .85em;
  }
  .modal-header-text-info {
    font-size: 0.85em;
  }
}

@media only screen and (max-device-width: 480px) {
  .notes-text-info {
    padding-top: 10px;
    font-size: .9em;
  }
  .modal-header-text-info {
    font-size: 0.9em;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .notes-text {
    font-size: 0.9em;
  }
  .modal-header-text-info {
    font-size: 1.5em;
  }
}
