div.fixedsize_myaccount {
  height: 700px;
  width: 100%;
  margin-left: -5%;
  /* background-color: #f0e9df; */
  /* background-color: #f5f2eb; */
  overflow-x: hidden;
  overflow-y: auto;
}

.btn_top_myaccount_passive {
    width: 100px;
    height: 32px;
    background-color: #0c5e22;
    border: none;
    color: white;
    font-size: 9pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
  }
  
  .btn_top_myaccount_active {
    width: 100px;
    height: 32px;
    background-color: #0c5e22;
    border: none;
    color: white;
    font-size: 9pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #5cbf4d;
  }

  .btn-modal-myaccount {
    width: 50px;
    height: 32px;
    background-color: #555f6b;
    border: none;
    color: white;
    font-size: 9pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
  }

  .btn-myaccount-back {
    width: 50px;
    height: 32px;
    background-color: #555f6b;
    border: none;
    color: white;
    font-size: 9pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
  }

  

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  div.fixedsize_myaccount {
    height: 540px;
    width: 100%;
    margin-left: -5%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .btn_top_myaccount_passive {
    width: 63px;
    height: 28px;
    font-size: 8pt;
    border-radius: 5px;
  }

  .btn_top_myaccount_active {
    width: 56px;
    height: 28px;
    font-size: 8pt;
    border-radius: 5px;
    border-style: solid;
  }

  .btn-modal-myaccount {
    width: 35px;
    height: 28px;
    font-size: 8pt;
  }

  .btn-myaccount-back {
    width: 27px;
    height: 28px;
    font-size: 7pt;
  }
}

@media only screen and (max-device-width: 320px) {
  /* styles for browsers larger than 320px iphone5; */
  div.fixedsize_myaccount {
    height: 540px;
    width: 100%;
    margin-left: -5%;
    /* background-color: #f0e9df; */
    /* background-color: #f5f2eb; */
    overflow-x: hidden;
    overflow-y: auto;
  }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* For portrait layouts only */
  }
